@media screen and (max-width:480px) {
  .wrap {
    overflow: hidden;
  }

    #LEMElogo{
      width: 30%;
      height: 80%;
      top: 15px;
    }
    .search{
      margin: 0;
      position: sticky;
      display: flex;
      padding-left: 0;
    }
    #search-logo {
      position: relative;
      margin:  7px;
      margin-top: 385px;
      margin-left: 10px;
  }
  #kensaku {
    width: 170px;
    height: 30px;
    margin-top: 382px;
    font-weight: bold;
    font-size: 16px;
    padding-left: 20px;
    border-radius: 10px;
    border-color: gray;
}
    .menu-trigger {
      display: inline-block;
      width: 36px;
      height: 28px;
      vertical-align: middle;
      cursor: pointer;
      position: fixed;
      top: 10px;
      right: 50px;
      z-index: 100;
  }
  .menu-trigger img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
nav {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color: rgb(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  color: #112235;
  font-family: "Marcellus", serif !important;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}
button {
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  color: #112235;
  font-family: "Marcellus", serif !important;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
}
.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}
    p {
      width: 100%;
      margin: 0px 0 10px 0;
    }
   
    .header{
        width:100%;
    }

    main {
      width: 100%;
    }
   
    .today
    {
      background-color: #ffffff;
      height: 280px;
      width: 100%;
      padding: 0px;
      left: 0px;
      top: 90px;
      position: absolute;
    }

    .todayframe{
      height: 280px;
      width: 100%;
      background-color: #ffffff;
      filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
      border-radius: 5px;
    }

    .todayenclosure
    {
      height: 130px;
      width: 86%;
      left: 27px;
      top: 130px;
      background-color: #ffffff;
      border-radius: 5px;
      border: 0.2px solid #000000;
      position: absolute;
    }

    .kibun textarea{
      width: 200px;
      height: 100px;
      top: 20px;
      font-size: 13px;
      padding: 15px;
      border: none;
      border-radius: 5px;
      position: relative;
      display: block;
      color: #113320;
      outline: none;
      }

    .calender{
      display: none;
    }
    .goal{
      display: none;
    }
    .weather{
      top:40px;
      left:25px;
      position: absolute;
      display: flex;
    }
    .weather input {
      display: none;
    }
    .weather  label{
      text-align: center;
      margin: 9px;
      display: block;
      height: 45px;
      width: 50px;
      background: #ffffff;
      color: RGBA(0,0,0,0.5);
      padding: 10px;
      box-sizing: border-box;
      text-decoration: none;
      border-radius: 30px;
      cursor: pointer;
    }
    .image {
      color: rgba(17, 51, 32, 0.699999988079071);
      text-align: left;
      vertical-align: text-top;
      font-size: 18px;
      width: 57px;
      height: 23px;
      margin-bottom: 35px;
      position: absolute;
      border-style: hidden;
      outline: none;
      left: 240px;
      top: 110px;
  }
  .kibun {
    position: absolute;
    left: 27px;
    top: 92px;
}
table {
  border: none;
}
    .date
    {
    font-size:14px;
    left:27px;
    top:25px;
    color: #113320;
    text-align: left;
    vertical-align: text-top;
    width: 250px;
    height: 31px;
    position: absolute;
    border-style: hidden;
    outline: none;
    }
    .stampadd{
      display: none;
    }
    .taghere{
      top: 23px;
      left:160px;
      height: 24px;
    }
    .textlines2{
      width: 120px;
      height: 24px;
    }
    .taghere textarea{
      width: 120px;
      height: 26px;
      font-size:13px;
    }
    .btn{
    left: 245px;
    top: 290px;
    background: #ffff00;
    color: #000000;
    width: 115px;
    height: 34px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    padding: 0 20px;
    position: absolute;
    font-size: 15px;
    }

    .past
    {
      background-color: #ffffff;
      height: 220px;
      width: 100%;
      top: 445px;
      left: 0px;
      padding: 0px;
      position: absolute;
    }
    .pastframe
    {
      background-color: #ffffff;
      border-radius: 5px;
      height: 220px;
      width: 100%;
    }
    .pastenclosure
    {
      background-color: #ffffff;
      border-radius: 5px;
      border: 0.2px solid #000000;
      height: 120px;
      width: 86%;
      top: 75px;
      left: 27px;
      position: absolute;
      margin-top: 10px;
  }
    .本文３{
    left: 56px;
    top: 100px;
  }
    .tag
    {
    font-size:14px;
    left:160px;
    top:22px;
    width:116px;
    height:23px;
    color: #000000;
    text-align: left;
    vertical-align: text-top;
    position: absolute;
    border-style: hidden;
    outline: none;
    }
    .date2
    {
    font-size:14px;
    left:27px;
    top:22px;
    width:121px;
    height:21px;
    color: #113320;
    text-align: left;
    vertical-align: text-top;
    position: absolute;
    border-style: hidden;
    outline: none;
    }
    .stamp2
    {
    font-size:15px;
    left: 10px;
    top: 25px;
    height:27px;
    width: 350px;
    color: #ffffff;
    text-align: left;
    vertical-align: text-top;
    position:absolute;
    line-height:auto;
    border-style:hidden;
    outline:none;
    }
    .stamp2 button {
      background-color: transparent;
      width: 35px;
      text-align: center;
      border: none;
      font-size: 20px;
  }
    .pastimage
    {
    width: 30%;
    height: 110px;
    top: 89px;
    left: 225px;
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 5px;
    position: absolute;
    }
    .image2
    {
    font-size: 14px;
    left: 230px;
    top: 90px;
    width: 57px;
    height: 23px;
    color: rgba(17, 51, 32, 0.699999988079071);
    text-align: left;
    vertical-align: text-top;
    position: absolute;
    border-style: hidden;
    outline: none;
    }
    .button{
      font-size: 15px;
    }
    .upload-label {
      display: inline-block;
      cursor: pointer;
      margin: 0.5em 0.5em;
      padding: 0.2em 0.5em;
      line-height: 1.4;
      background-color: white;
      color: gray;
      font-size: 1em;
      border-radius: 30px;
      transition: 0.2s;
  }
  .upload-label input {
    display: none;
}
  .todayimage{
    height: 135px;
    width: 135px;
    border-radius: 5px;
    left: 220px;
    top: 125px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}
  #preview img {
  margin-top: 60px;
  margin-left: 0%;
  height: 80px;
  width: fit-content;
  border-radius: 0%;
}
  }