html{
    scroll-behavior: smooth;
  }
  .wrap {
    overflow: hidden;
  }
  #LEMElogo {
    width: 30%;
    height: 80%;
    left:37px;
    top:15px;
    position:absolute;
}
* body{
position:absolute;
background-color:#66cc92;
height:100%;
width:100%;
padding:0px;
margin: 0px;
}

.header{
    z-index: 9999;
    display: flex;
    background-color:#ffffff;
    opacity: 80%;
    height: 70px;
    width:100%;
    padding:0px;
    margin: 0px;
    border-style:hidden;
    outline:none;
    position: fixed;
}

li {
    list-style:none
}

.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}
.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}

main.open {
  transform: translateX(-250px);
}

.menu-trigger {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 50px;
  z-index: 100;
/*   transform: translateX(0);
  transition: transform .5s;
 */}
/* .menu-trigger.active {
  transform: translateX(-250px);
}
 */.menu-trigger span {
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  transition: all .5s;
}
.menu-trigger.active span {
  background-color: #fff;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger.active span:nth-of-type(1) {
  transform: translateY(12px) rotate(-45deg);
}
.menu-trigger span:nth-of-type(2) {
  top: 12px;
}
.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-trigger.active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav {
  width: 250px;
  height: 100%;
  padding-top: 100px;
  background-color: rgb(255, 255, 255, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translate(250px);
  transition: all .5s;
}
nav.open {
  transform: translateZ(0);
}

button {
  border-color: transparent;
  background: transparent;
  cursor: pointer;
  color: #112235;
  font-family: "Marcellus", serif !important;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
}

nav li {
  color: #112235;
  font-family: "Marcellus", serif !important;
  font-size: 18px;
  text-align: center;
  padding: 20px 0;
}


* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-trigger img{
width:  55px;       /* ※縦横を同値に */
height: 55px;       /* ※縦横を同値に */
border-radius: 50%; 
}


table{  
  border:none;
}

iframe{
  border: none;
  width:100%;
  height: 600px;
}

@media(min-width:751px){
  .sp{
      display: none !important;
  }
}
.goal
{
background-color:#ffffff;
height:130px;
width:100%;
padding:0px;
top:520px;
left:0px;
position:absolute;
}

.rectangle1
{
background-color:#ffffff;
height:130px;
width:100%;
border-radius:5px;
}

.yeargoal
{
color:#113320;
text-align:left;
vertical-align:text-top;
font-size:18px;
left:22px;
top:21px;
width:161px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.yearcontent{
    background-color: #FFFFFF;
    position: relative;
    display: block;
    width: 320px;
    height: 70px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #113320;
    outline: none;
  }