.home
{
position:absolute;
background-color:#66cc92;
height:150%;
width:100%;
padding:0px;
}


.header
{
background-color:#ffffff;
opacity: 70%;
height:75px;
width:100%;
padding:0px;
border-style:hidden;
outline:none;
position:absolute;
top:0px;
left:0px;
}

.user
{
background-color:#ffffff;
height:45px;
width:45px;
left:80%;
top:7px;
position:absolute;
}

.ユーザーネーム
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
left:105px;
top:22px;
width:174px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.icon
{
background-color:#000000;
height:45px;
width:45px;
top:7px;
left:50px;
position:absolute;
border-radius:50%;
}

.serch
{
background-color:#000000;
height:41.5px;
width:268px;
left:854px;
top:16px;
position:absolute;
}

.logo
{
height:83px;
width:159px;
left:37px;
top:7px;
position:absolute;
}

.today
{
background-color:#ffffff;
height:455px;
width:701px;
padding:0px;
left:153px;
top:163px;
position:absolute;
}

.当日枠
{
background-color:#ffffff;
height:413px;
width:701px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:5px;
}

.本文囲み
{
background-color:#ffffff;
height:242px;
width:476px;
left:27px;
top:145px;
position:absolute;
}

.howwasyourday
{
color:#113320;
text-align:left;
vertical-align:text-top;
font-size:18px;
left:56px;
top:164px;
width:200px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.当日画像
{
background-color:rgba(217, 217, 217, 0.800000011920929);
height:174px;
width:168px;
border-radius:5px;
top:213px;
left:518px;
position:absolute;
}

.image
{
color:rgba(17, 51, 32, 0.699999988079071);
text-align:left;
vertical-align:text-top;
font-size:18px;
left:537px;
top:226px;
width:57px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.stamp
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:25px;
left:27px;
top:76px;
width:280px;
height:27px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.date
{
color:#113320;
text-align:left;
vertical-align:text-top;
font-size:28px;
left:27px;
top:31px;
width:89px;
height:31px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.タグ入力
{
background-color:rgba(217, 217, 217, 0.8);
height:27px;
width:155px;
border-radius:5px;
top:76px;
left:518px;
position:absolute;
}

.taghere
{
color:#113320;
text-align:left;
vertical-align:text-top;
font-size:18px;
left:557px;
top:78px;
width:90px;
height:22px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.音声入力ボタン
{
background-color:#ffff00;
height:31px;
width:29px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:20px;
border:1px solid #ffff00;
top:164px;
left:456px;
position:absolute;
}

.voice
{
width:16px;
height:21px;
left:462px;
top:169px;
position:absolute;
}

.vector
{
background-color:#000000;
height:13.6px;
width:8.7px;
width:8.7px;
height:13.6px;
left:465.63px;
top:169px;
width:8.7px;
height:13.6px;
position:absolute;
}

.vector2
{
background-color:#000000;
height:14px;
width:16px;
width:16px;
height:14px;
left:462px;
top:175.99px;
width:16px;
height:14px;
position:absolute;
}

.保存ボタン
{
background-color:#ffff00;
height:34px;
width:115px;
border-radius:20px;
top:421px;
left:586px;
position:absolute;
}

.save
{
color:#113320;
text-align:left;
vertical-align:text-top;
font-size:18px;
left:624px;
top:425px;
width:40px;
height:22px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.past
{
background-color:#ffffff;
height:337px;
width:701px;
padding:0px;
top:638px;
left:153px;
position:absolute;
}

.過去枠
{
background-color:#ffffff;
height:337px;
width:701px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:5px;
}

.本文囲み2
{
background-color:#ffffff;
height:216px;
width:476px;
border-radius:5px;
border:0.2px solid #000000;
top:91px;
left:27px;
position:absolute;
}

.本文3
{
color:#113320;
text-align:left;
vertical-align:text-top;
font-size:18px;
left:56px;
top:114px;
width:55px;
height:24px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.過去画像
{
background-color:rgba(217, 217, 217, 0.8);
height:169px;
width:168px;
border-radius:5px;
top:138px;
left:518px;
position:absolute;
}

.image2
{
color:rgba(17, 51, 32, 0.699999988079071);
text-align:left;
vertical-align:text-top;
font-size:18px;
left:529px;
top:146px;
width:57px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.date2
{
color:#113320;
text-align:left;
vertical-align:text-top;
font-size:25px;
left:37px;
top:22px;
width:121px;
height:21px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.tag
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:18px;
left:518px;
top:51px;
width:116px;
height:23px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.stamp2
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:25px;
left:27px;
top:55px;
width:280px;
height:27px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}

.goal
{
background-color:#ffffff;
height:167px;
width:387px;
padding:0px;
top:163px;
left:916px;
position:absolute;
}

.rectangle1
{
background-color:#ffffff;
height:167px;
width:387px;
border-radius:5px;
}

.年目標
{
color:#113320;
text-align:left;
vertical-align:text-top;
font-size:18px;
left:22px;
top:21px;
width:161px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
